h1,h4 {
	color:#80a508;
	text-transform:uppercase;
}
h2{
	background:#000;
	color:#fff;	
	text-align:center;
	line-height:60px;
	top:5px;
}

.btn-success {
	color:#000;
	background:#80a508;
	border: 1px solid #80a508;
}

.btn-success:hover,.btn-success:focus, .btn-success:active {
	color:#fff;
	background:#000;
}

.thumbnail:hover,.thumbnail:focus, .thumbnail:active{
	background:#80a508;
	border: 1px solid #80a508;
}
